$size-preloader: 48px;
$color-preloader: #ff9800;
$bg-header-color: rgba(255, 255, 255, 0.8);

$color-black: #212121;
$color-dark-gray: #555;
$color-ligth-gray: #999;
$color-white: #fff;
$color-border-info: rgba(0, 0, 0, 0.1);

$bg-home-page: #f2f2f2;
